{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="image_bg about">

    <header class="about_header">
        <h1>Who are we?</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum quo sint quos porro nobis! Ipsum, voluptate odit quas eos quam cupiditate placeat ratione dolorem repellat vero natus deserunt nihil repellendus.</p>
    </header>

    <div class="section_container bg_white">
        <section class="section_">
            <div class="left_side">
                <img src="{% static 'img/anna.jpg' %}" alt="">
                
            </div>
            <div class="about_me right_side">
                <div>
                    <h2>Anna checklorov</h2>
                    <span>Copy Writter</span>
                </div>
                <h3>About Me:</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium laboriosam, dolore quam aliquam nesciunt molestias eius! Eum obcaecati tenetur quasi aliquam cum! Enim sequi impedit facilis provident reprehenderit nesciunt mollitia ab nihil alias asperiores dolores cum delectus maiores cupiditate ipsum nobis consectetur animi esse sint, suscipit exercitationem? Veritatis totam voluptates quidem a libero vero optio unde incidunt nesciunt ipsa delectus minima laboriosam, officia itaque magnam recusandae ullam illum architecto neque reiciendis. Reprehenderit repellendus nam, quisquam doloribus quis quasi voluptate, perferendis voluptatem dolore voluptates laboriosam, odit inventore. Autem obcaecati reiciendis debitis?</p>
            </div>
        </section>
    </div>

    <div class="section_container">
        <section class="section_">
            <div class="right_side">
                <img src="{% static 'img/marcus.jpg' %}" alt="">
                
            </div>
            <div class="about_me left_side">
                <div>
                    <h2>Marcus Tchebev</h2>
                    <span>Software developper and technical writter</span>
                </div>
                <h3>About Me:</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium laboriosam, dolore quam aliquam nesciunt molestias eius! Eum obcaecati tenetur quasi aliquam cum! Enim sequi impedit facilis provident reprehenderit nesciunt mollitia ab nihil alias asperiores dolores cum delectus maiores cupiditate ipsum nobis consectetur animi esse sint, suscipit exercitationem? Veritatis totam voluptates quidem a libero vero optio unde incidunt nesciunt ipsa delectus minima laboriosam, officia itaque magnam recusandae ullam illum architecto neque reiciendis. Reprehenderit repellendus nam, quisquam doloribus quis quasi voluptate, perferendis voluptatem dolore voluptates laboriosam, odit inventore. Autem obcaecati reiciendis debitis?</p>
            </div>
        </section>
    </div>

    <!-- <div class="co">
        <h3>Become author...</h3>

    </div> -->
</main>
{% endblock content %}
    